.App{border: 1px solid gray; padding: 5px;}
.tab-link-wrapper{;
  .tab-link{
    display: inline-block;

    text-align: center;
    a{text-decoration: none;color: black;    padding: 10px;
      width: 90px;
      border: 1px solid #7f7f7f;
      &:hover{
        background-color: #18cfab;
        border-color: transparent;
      }
      &.active{
        background-color: #18cfab;
        border-color: transparent;
      }
    }

  }

}
ul  {list-style-type: none;}
.tabs-container{
  margin: 50px 0;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.55);
  padding: 20px;
}